*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
header{
background-color: rgb(0, 0, 0);
height: 10vh;
position: sticky;
top: 0;
border: 3px solid white;
}
main{
background-color: rgb(255, 0, 221);
height: 100vh;
}
footer{
background-color: blue;
height: 10vh;
}

.contato{
height: 10vh;
width: 10vh;
background-color: green;
border-radius: 50%;
position: fixed;
bottom: 40px;
right: 50px;
}